{% extends 'base.html' %}

{% block content %}
  <div>
  <a href="{% url 'core:create-disk' %}">Criar Disco</a> 
  </div>

   <h1>Listagem de Discos</h1>
   <table class="table table-info">
       <thead>
           <tr>
               <th scope="col">Nome</th>
               <th scope="col">Ano</th>
               <th scope="col">País</th>
               <th scope="col">Gênero</th>
               <th scope="col">Quantidade</th>
               <th scope="col">#</th>
           </tr>
       </thead>
       {% for disk in disks %}
       <tbody>
           <tr>
               <td>{{ disk.name }}</td>
               <td>{{ disk.year }}</td>
               <td>{{ disk.country }}</td>
               <td>{{ disk.gender }}</td>
               <td>{{ disk.quantity }}</td>
               <td> <a href="{% url 'core:detail-disk' disk.id %}">Detalhes</a></td>
           </tr>
       </tbody>
       {% endfor %}
   </table>
{% endblock %}